{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
	<div class="container-fluid">
		<div
			class="row justify-content-center">
			<!-- Widget image agrandi -->
			<div class="col-12 col-sm-12 col-md-11 col-lg-10 mb-4">
				<div class="card shadow-sm text-center">
					<div class="card-body p-0">
						<h5 class="card-title py-3">Administration</h5>
						<img src="{{ asset(restaurantImage) }}" alt="Restaurant" class="img-fluid rounded" style="width: 100%; max-height: 90vh; object-fit: cover;">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
